.left-nav-item+active {
  background-color: white;
}

div::-webkit-scrollbar {
  width: 4px !important;
  background-color: white !important;
}

div::-webkit-scrollbar-thumb {
  border-radius: 1px !important;
  background-color: transparent !important;
}

div::-webkit-scrollbar-track {
  border-radius: 1px !important;
  background-color: transparent !important;
}

.mobile-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  min-width: 90vw !important;
  transition-duration: .4s;
  transform: translateX(100%);
}

.mobile-bars {
  top: 10px;
  right: 10px;
}

.menu-stretch {
  transform: translateX(2%);
  transition-duration: .4s;
}