@import "src/assets/scss/app-variables";
.confirm-modal,
.notify-modal {
    background: url("assets/images/modal.svg") no-repeat;
    background-size: 35%;
    background-position: top right;

    .modal-title {
        border-bottom: 2px solid $primary;
    }
}
