:host {
  display: block;
  width: 100px;
  height: 100px;
}

.draggable-area {
  border: 2px dashed var(--primary);
  vertical-align: middle;
}

.btn-close {
  top: 2px;
  right: 2px;
}

.preview-img {
  width: 100px;
  height: 100px;
}
